/****Cover Art and Overlays****/
.ca-track-cover-control{
    background-color: rgba(200,200,200,0.1);
    padding: 10px;
    border-radius: 10px;
}
.n-ca-track-cover-control{
    background-color: rgba(200,200,200,0.1);
    padding: 7px;
    border-radius: 7px;
}
.v-ca-track-cover-control{
    background-color: rgba(200,200,200,0.1);
    padding: 8px;
    border-radius: 8px;
}
.ca-track-overlay{
    background-color: rgba(250,250,250,0.3);
}
.ca-track-overlay-bg{
    background-color: rgba(250,250,250,0.5);
}
.ca-track-overlay-timer{
    background-color: rgba(0,0,0,0.5);
}
.ca-track-overlay-time, .n-ca-track-overlay-time, .v-ca-track-overlay-time{
    color: rgba(0,0,0,0.75);
    padding-right: 5px;
    font-size: 10px;
    font-weight: bold;
}


/****Main Indicator****/
.mib-track-title{
    font-weight: bold;
}
.mib-track-info-holder, .mib-n-track-info-holder, .mib-v-track-info-holder {
    padding-left: 10px;
    color: white;
}
.mib-track-box, .n-mib-track-box, .v-mib-track-box {
    padding:17px;
    background-gradient-start: rgba(0,0,0,0.65);
    background-gradient-end: rgba(0,0,0,0.7);
    border-radius: 4px;
}
.mib-track-info StLabel, .n-mib-track-info StLabel{
    padding-left: 5px;
}
.mib-track-control-holder{
    padding-top: 15px;
    padding-bottom: 10px;
}
.label-class{
    padding-left: 20px;
}
.ca-track-overlay-time{
    padding-top: 1px;
}


/****Notifications****/
.music-notification{
    width: 800px;
}
.song-icon{
    border-radius: 3px;
    padding: 2px;
    background-color: rgba(200,200,200,0.5);
}
.n-mib-track-box{
    padding:10px;
}
.n-mib-track-info StLabel{
    font-size: 11.05px;
}
.n-mib-track-control-holder{
    padding-top: 5px;
}

/****Volume Menu****/
.v-mib-track-box{
    padding:10px;
}
.v-mib-track-info {
    padding-left: 12px;
}
.v-mib-track-info StLabel{
    font-size: 11.05px;
}
.v-mib-track-control-holder{
    padding-top: 5px;
}
.v-ca-track-overlay-time{
    font-size: 8px;
}
.v-music-player-title{
    padding: 3px 0px 7px 0px;
}
.v-ca-track-overlay-time{
    font-size: 9px;
}


/****Control Buttons****/
.control-button-container {
    padding: 5px;
}
.spaceb{
    width: 20px;
}
.button-control {
    padding: 10px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.1);
    background-gradient-end: rgba(250,250,250,0.1);
    color:#b5b5b5;
    border-radius: 7px;
    transition-duration: 250;
}
.button-control:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0,0,0,0.1);
    background-gradient-end: rgba(250,250,250,0.3);
    color:#ededed;
    transition-duration: 250;
}
.button-control:active {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(150,150,150,0.2);
    background-gradient-end: rgba(250,250,250,0.4);
    color:#ffffff;
    transition-duration: 0;
}
